<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <%month = if DateTime.now.month == 3
        "March"%>
        <%day = DateTime.now.day%>
        <%year = DateTime.now%>
        <h1><%="The date is Today</h1>
    </body>
</html>